---
layout: archive
author_profile: true
excerpt: "Welcome to the official fansite of SC Allemang, semi-professional hand model and AA fantasy baseball player."
header:
  teaser: "featured-images/home-temple.jpg"
  overlay_image: featured-images/home-temple.jpg
  overlay_filter: rgba(198, 40, 40, 0.85)
  caption: "Photo credit: [**Pixabay**](https://pixabay.com/en/siem-rap-cambodia-banteay-srei-1371184/)"
---

{% include base_path %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
